body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    overflow: hidden; 
}

.cube {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: grab;
}

.money {
    background-color: gray;
    color: aquamarine;
    margin: auto;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
}

.money a {
        /* Standardisyntaksi moderneille selaimille */
    user-select: none;
    
    /* Selainkohtaiset etuliitteet vanhempien selainten tukea varten */
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
    
    /* EstĆ¤Ć¤ myĆ¶s iOS-laitteiden "soita" tai "kopioi" valikon numeroiden kohdalla */
    -webkit-touch-callout: none; 
}