body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    overflow: hidden; 
}

.cube {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: grab;
}

.money {
    background-color: gray;
    color: aquamarine;
    margin: auto;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
}

.money a {
    user-select: none;
    
    -webkit-user-select: none;
    -moz-user-select: none;  
    -ms-user-select: none;   
    
    -webkit-touch-callout: none; 
}