body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    overflow: hidden; 
}

.cube {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: grab;
    border: 2px;
    border-color: antiquewhite;
}

.money {
    background-color: gray;
    color: aquamarine;
    margin: auto;
    border: 2px;
    border-color: antiquewhite;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    border: 10px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    pointer-events: none;
}

.shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; 
  padding: 20px;
}

.box {
  border: 2px solid #333;
  padding: 40px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  background: #f4f4f4;
  border-radius: 8px;
}

.buy {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}
